body.active {
	overflow: hidden;
}

.page-wrap.active {
	filter: blur(30px);
}

.mobile-burger-menu.active {
	position: absolute;
	display: flex;
	top: 0;
    transition: top 1s ease-out 0.5s;
	z-index: 4;
}

.cross {
	position: absolute;
	left: 39px;
	top: 51px;
	cursor: pointer;
}

.menu-name {
	margin: 66px 0 54px 0; 
}

.menu-name-span {
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
	color: #DBDBDB;
	text-shadow: 0px 2px 0px rgba(34, 34, 34, 0.1);
}

.burger-menu-nav {

}

.burger-nav-link {
	display: block;
	margin-bottom: 37px;
	text-decoration: none;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #DBDBDB;
	text-shadow: 0px 2px 0px rgba(34, 34, 34, 0.1);
}

.burger-logo {

}

.cloud-solution {
	margin-bottom: 182px;
}

.cloud-solution-span {
	font-weight: 800;
	font-size: 38px;
	line-height: 46px;
	color: #C9C9C9;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}